:root{
    --primary-color: #c73c00;
    --secondary-color: #ffffff;
    --text-color: #ffffff;
    --name-color:rgb(0, 217, 255);
    --shadow: grey;
    --background-color: #1f2421ff;
    --accent-color: #a4243bff;
    --lemon-chiffon: #f4f1bbff;
    --half-color: #568ea3ff;
    --powder-blush: #ffa69eff;
    --x: #F7F9F9ff;
}/*background, base text, heading, */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    flex-wrap: nowrap;
}
#name{
    font-family: sans-serif;
    background-color: black;
    font-size: 40px;
    color: var(--half-color);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 11;

}
.first-name{
    font-family: "Bangers", "Dm serif Display";
    font-size: 40px;
    color: var(--powder-blush);
}
.last-name{
    font-family: "Bangers", "Dm serif Display";
    font-size: 40px;
    color: var(--powder-blush);
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    width: 100%;
    background-color: black;
    z-index: 10;
    float: right;
}
.top{
    display: flex;
    justify-content: center;
    align-items: right;
    text-size-adjust: 20px;
    font-family: "Fontdiner Swanky", "Fruktur";
    font-size: 20px;
    justify-content:right;
    padding: 10px;
    color: rgb(202, 230, 255);
}
a:hover > :not(:hover){
    opacity: 1;
    color: var(--secondary-color);
}
a:hover{
    transform: scale(1.3);
    opacity: 1.5;
    color: var(--primary-color);
}
a:visited{
    color: var(--secondary-color);
}
.sidebar{
    clear: both;
    transition: 0.5s ease;
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration:solid;
    padding: 20px;
}
.sidebar:hover > :not(:hover){
    opacity: 1;
    color: var(--secondary-color);
}
.sidebar:hover{
    transform: scale(1.3);
    opacity: 1.5;
    color: var(--primary-color);
}
.text{
    font-family: "Bitcount Single", "Courier Prime", monospace;
    font-size: 30px;
    color: var(--text-color);
    width: 60%;
}

.face{
    font-family: "Press Start 2P", "Amarante", cursive;
    font-size: 40px;
    color: var(--name-color);
    padding-top: 10px;
}
section{
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    display: flex;
    justify-content: right;
    align-items: right;
    color: var(--text-color);
}
#hero-section{
    width: 100%;
    height: 100vh;
    border: 1px solid #ffffff;
    font-size: 30px;
    color: var(--text-color);
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column;
    padding-left: 10px;
    background-image: url(background.png);
    background-size: cover;
    alt: "Background Image";
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#about-section{
    width: 100%;
    height: 100vh;
    border: 1px solid #ffffff;
    font-size: 30px;
    color: var(--lemon-chiffon);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-family: "Rubik Pixels", "Fruktur";
    z-index: 4;
    background-image: url(background.png);
    background-size: cover;
    alt: "Background Image";
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.backround{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 2;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(background.png);
    filter: blur(10px);
}
#am{
    display: flex;
    justify-self: middle;
    align-items: center;
    align-content: right;
    padding-left: 16% ;
}
.about{
    font-family: "Fruktur", "Rubik Pixels";
    font-size: 20px;
    color: var(--accent-color);
    width: 50%;
    text-align: left;
}
#about-image{
    image-resolution: 200dpi;
    width: 200px;
    height: 250px;
    display: flex;
    align-items: right;
    z-index: 3;
    flex-direction: row;
    border-radius: 10px;
    justify-content: right;
    border: 1px solid var(--powder-blush);
    text-shadow: 0px 0px 1px var(--x);

}